.card {
  background: #fff;
  border-radius: 2px;
  height: 170px;
  margin: 1rem;
  position: relative;
  width: 170px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  background-size: cover;
}

.card > .img-container {
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.card > .img-container > img {
  width: 100%
}
